<!doctype html>
<html>
    <head>
	<title>Netsight Ipsum</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href='http://cdn.foundation5.zurb.com/foundation.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
	<div class="row">
	    <div class="large-12 columns">
		<h1>Netsight Ipsum</h1>
		<p>
		    <a href="/" class="button">Refresh</a>
		</p>
		<textarea rows="30">{{ ipsum }}</textarea>

	</div></div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://cdn.foundation5.zurb.com/foundation.js"></script>
    </body>
</html>

