<!doctype html>
<html>
    <head>
	<title>Netsight Ipsum</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
	<div class="row">
	    <div class="large-12 columns">
		<h1>Netsight Ipsum</h1>
		<p>
		    <a href="/" class="button">Refresh</a>
		</p>
		<textarea rows="30">{{ ipsum }}</textarea>

	</div></div>

    </body>
</html>

